:root {
  --color-Light-red: hsl(0, 100%, 67%);
  --color-Orangey-yellow: hsl(39, 100%, 56%);
  --color-Green-teal: hsl(166, 100%, 37%);
  --color-Cobalt-blue: hsl(234, 85%, 45%);
  --color-Light-slate-blue: hsl(252, 100%, 67%);
  --color-Light-royal-blue: hsl(241, 81%, 54%);
  --color-Violet-blue: hsla(256, 72%, 46%, 1);
  --color-Persian-blue: hsla(241, 72%, 46%, 0);
  --color-White: hsl(0, 0%, 100%);
  --color-Pale-blue: hsl(221, 100%, 96%);
  --color-Light-lavender: hsl(241, 100%, 89%);
  --color-Dark-gray-blue: hsl(224, 30%, 27%); }

* {
  margin: 0;
  padding: 0; }

*,
::before,
::after {
  box-sizing: border-box; }

html {
  box-sizing: inherit;
  font-size: 62.5%; }

body {
  font-size: 1.8rem;
  font-family: 'Hanken Grotesk', sans-serif; }

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh; }

.card {
  display: grid;
  max-width: 76rem;
  grid-template-columns: repeat(2, 50%);
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.5);
  border-radius: 2rem; }
  @media only screen and (max-width: 1200px) {
    .card {
      grid-template-columns: 1fr; } }
  @media only screen and (max-width: 600px) {
    .card {
      width: 100%;
      border-radius: 0; } }
  .card__side {
    background-image: linear-gradient(to bottom, var(--color-Light-slate-blue), var(--color-Light-royal-blue));
    border-radius: 2rem;
    text-align: center;
    color: var(--color-White);
    padding: 3rem;
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    grid-row-gap: 2rem; }
    @media only screen and (max-width: 600px) {
      .card__side {
        border-radius: 0 0 2rem 2rem; } }
  .card__summary {
    padding: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around; }
    @media only screen and (max-width: 1200px) {
      .card__summary {
        display: grid;
        grid-template-columns: 1fr;
        grid-row-gap: 2rem; } }

.circle {
  height: 20rem;
  width: 20rem;
  border-radius: 50%;
  background-image: linear-gradient(to bottom, var(--color-Violet-blue), var(--color-Persian-blue));
  position: relative; }
  .circle__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
    .circle__content .of {
      color: var(--color-Light-lavender); }

.head__large {
  font-size: 3rem;
  font-weight: 700; }

.head__small {
  font-size: 2rem; }
  .head__small--1 {
    color: var(--color-Light-lavender); }
  .head__small--2 {
    color: var(--color-Dark-gray-blue); }

.degree {
  font-size: 10rem;
  font-weight: 800; }

.paragraph {
  color: var(--color-Light-lavender);
  padding: 3rem; }

.items {
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 2rem; }

.item {
  display: flex;
  justify-content: space-between;
  padding: 1.8rem;
  border-radius: 1rem; }
  .item img {
    margin-right: 1rem; }
  .item__name {
    display: flex; }
  .item--1 {
    background-color: rgba(255, 87, 87, 0.1); }
    .item--1__text {
      color: #ff5757; }
  .item--2 {
    background-color: rgba(255, 176, 31, 0.1); }
    .item--2__text {
      color: #ffb01f; }
  .item--3 {
    background-color: rgba(0, 189, 145, 0.1); }
    .item--3__text {
      color: #00bd91; }
  .item--4 {
    background-color: rgba(17, 37, 212, 0.1); }
    .item--4__text {
      color: #1125d4; }

.d {
  color: var(--color-Dark-gray-blue); }

.dfrom {
  color: rgba(119, 119, 119, 0.5);
  z-index: 3; }

.btn {
  background-color: var(--color-Dark-gray-blue);
  padding: 2rem;
  width: 100%;
  border-radius: 4rem;
  border: none;
  color: var(--color-White);
  transition: all .3s; }
  .btn:focus {
    background-image: linear-gradient(to bottom, var(--color-Light-slate-blue), var(--color-Light-royal-blue)); }
