$color-Light-red: hsl(0, 100%, 67%);

$color-Orangey-yellow: hsl(39, 100%, 56%);
$color-Green-teal: hsl(166, 100%, 37%);
$color-Cobalt-blue: hsl(234, 85%, 45%);


$color-Persian-blue: hsla(241, 72%, 46%, 0);

:root {

//colors

    --color-Light-red: hsl(0, 100%, 67%);
    --color-Orangey-yellow: hsl(39, 100%, 56%);
    --color-Green-teal: hsl(166, 100%, 37%);
    --color-Cobalt-blue: hsl(234, 85%, 45%);



//gredients

--color-Light-slate-blue: hsl(252, 100%, 67%);
--color-Light-royal-blue: hsl(241, 81%, 54%);

--color-Violet-blue: hsla(256, 72%, 46%, 1);
--color-Persian-blue: hsla(241, 72%, 46%, 0);


//nutral


--color-White: hsl(0, 0%, 100%);
--color-Pale-blue: hsl(221, 100%, 96%);
--color-Light-lavender: hsl(241, 100%, 89%);
--color-Dark-gray-blue: hsl(224, 30%, 27%);


}

* {
    margin: 0;
    padding: 0;

}

*,
::before,
::after {
    box-sizing: border-box;

}


html {
    box-sizing: inherit;
    font-size: 62.5%;
}

body {
    font-size:1.8rem;
    font-family: 'Hanken Grotesk', sans-serif;
}